*{
    margin:0;
    padding:0;
}
#contain{
    position:relative;
/*-moz-column-width:150px;*/
    /*-webkit-column-width:150px;*/
    /*column-width:150px;*/
}
.box{
    float:left;
}
.pic{
    border:1px solid red;
    /*border-radius:10px;*/
}
.pic img{
    width:165px;
    height:auto;
}